<template>
  <div>
    <app-template
      ref="template"
      :breadcrumbs="breadcrumbs"
      :side-bar-active-panel="sideBarActivePanel"
      :side-bar-available-panels="sideBarAvailablePanels"
      :side-bar-panel-context="sideBarPanelContext"
      :is-side-bar-open="isSideBarOpen"
      :side-bar-loading="sideBarLoading"
      :show-batch-actions="!!selectedUsers.length"
      :batch-actions="batchActions"
      :batch-action-items="selectedUsers"
      :show-view-options="true"
    >
      <template #topbarActions>
        <div>
          <oc-button
            v-if="createUserAction.isEnabled()"
            id="create-user-btn"
            class="oc-mr-s"
            variation="primary"
            appearance="filled"
            @click="createUserAction.handler()"
          >
            <oc-icon :name="createUserAction.icon" />
            <span v-text="createUserAction.label()" />
          </oc-button>
        </div>
      </template>
      <template #mainContent>
        <app-loading-spinner v-if="loadResourcesTask.isRunning || !loadResourcesTask.last" />
        <div v-else>
          <UsersList
            :users="users"
            :roles="roles"
            :class="{ 'users-table-squashed': isSideBarOpen }"
            :selected-users="selectedUsers"
            @toggle-select-user="toggleSelectUser"
            @select-users="selectUsers"
            @un-select-all-users="unselectAllUsers"
          >
            <template #contextMenu>
              <context-actions :items="selectedUsers" />
            </template>
            <template #filter>
              <div class="oc-flex oc-flex-middle">
                <div class="oc-mr-m oc-flex oc-flex-middle">
                  <oc-icon name="filter-2" class="oc-mr-xs" />
                  <span v-text="$gettext('Filter:')" />
                </div>
                <item-filter
                  :allow-multiple="true"
                  :filter-label="$gettext('Groups')"
                  :filterable-attributes="['displayName']"
                  :items="groups"
                  :option-filter-label="$gettext('Filter groups')"
                  :show-option-filter="true"
                  class="oc-mr-s"
                  display-name-attribute="displayName"
                  filter-name="groups"
                  @selection-change="filterGroups"
                >
                  <template #image="{ item }">
                    <avatar-image :width="32" :userid="item.id" :user-name="item.displayName" />
                  </template>
                  <template #item="{ item }">
                    <div v-text="item.displayName" />
                  </template>
                </item-filter>
                <item-filter
                  :allow-multiple="true"
                  :filter-label="$gettext('Roles')"
                  :filterable-attributes="['displayName']"
                  :items="roles"
                  :option-filter-label="$gettext('Filter roles')"
                  :show-option-filter="true"
                  display-name-attribute="displayName"
                  filter-name="roles"
                  @selection-change="filterRoles"
                >
                  <template #image="{ item }">
                    <avatar-image
                      :width="32"
                      :userid="item.id"
                      :user-name="$gettext(item.displayName)"
                    />
                  </template>
                  <template #item="{ item }">
                    <div v-text="$gettext(item.displayName)" />
                  </template>
                </item-filter>
              </div>
              <div class="oc-flex oc-flex-middle">
                <oc-text-input
                  id="users-filter"
                  v-model.trim="filterTermDisplayName"
                  :label="$gettext('Search')"
                  autocomplete="off"
                  @keypress.enter="filterDisplayName"
                />
                <oc-button
                  id="users-filter-confirm"
                  class="oc-ml-xs"
                  appearance="raw"
                  @click="filterDisplayName"
                >
                  <oc-icon name="search" fill-type="line" />
                </oc-button>
              </div>
            </template>
            <template #noResults>
              <no-content-message
                v-if="isFilteringMandatory && !isFilteringActive"
                icon="error-warning"
              >
                <template #message>
                  <span v-text="$gettext('Please specify a filter to see results')" />
                </template>
              </no-content-message>
              <no-content-message v-else icon="user">
                <template #message>
                  <span v-text="$gettext('No users in here')" />
                </template>
              </no-content-message>
            </template>
          </UsersList>
        </div>
      </template>
    </app-template>
  </div>
</template>

<script lang="ts">
import AppTemplate from '../components/AppTemplate.vue'
import UsersList from '../components/Users/UsersList.vue'
import ContextActions from '../components/Users/ContextActions.vue'
import DetailsPanel from '../components/Users/SideBar/DetailsPanel.vue'
import EditPanel from '../components/Users/SideBar/EditPanel.vue'
import {
  useUserActionsDelete,
  useUserActionsRemoveFromGroups,
  useUserActionsAddToGroups,
  useUserActionsEditLogin,
  useUserActionsEditQuota,
  useUserActionsCreateUser
} from '../composables'
import { Drive, User, Group } from '@ownclouders/web-client/src/generated'
import {
  AppLoadingSpinner,
  ItemFilter,
  NoContentMessage,
  eventBus,
  queryItemAsString,
  useClientService,
  useConfigurationManager,
  useRoute,
  useRouteQuery,
  useRouter,
  useSideBar,
  SideBarPanel,
  SideBarPanelContext,
  useUserStore,
  useMessages,
  useSpacesStore,
  useCapabilityStore
} from '@ownclouders/web-pkg'
import {
  computed,
  defineComponent,
  ref,
  onBeforeUnmount,
  onMounted,
  unref,
  watch,
  nextTick
} from 'vue'
import { useTask } from 'vue-concurrency'
import { useGettext } from 'vue3-gettext'
import { diff } from 'deep-object-diff'
import Mark from 'mark.js'
import { format } from 'util'
import { isEqual, isEmpty, omit } from 'lodash-es'
import { storeToRefs } from 'pinia'

export default defineComponent({
  name: 'UsersView',
  components: {
    NoContentMessage,
    AppLoadingSpinner,
    AppTemplate,
    UsersList,
    ContextActions,
    ItemFilter
  },
  setup() {
    const { $gettext } = useGettext()
    const router = useRouter()
    const route = useRoute()
    const { showErrorMessage } = useMessages()
    const capabilityStore = useCapabilityStore()
    const capabilityRefs = storeToRefs(capabilityStore)
    const clientService = useClientService()
    const configurationManager = useConfigurationManager()
    const userStore = useUserStore()
    const spacesStore = useSpacesStore()

    const currentPageQuery = useRouteQuery('page', '1')
    const currentPage = computed(() => {
      return parseInt(queryItemAsString(unref(currentPageQuery)))
    })

    const itemsPerPageQuery = useRouteQuery('admin-settings-items-per-page', '1')
    const itemsPerPage = computed(() => {
      return parseInt(queryItemAsString(unref(itemsPerPageQuery)))
    })

    const writableGroups = computed<Group[]>(() => {
      return unref(groups).filter((g) => !g.groupTypes?.includes('ReadOnly'))
    })

    const { actions: createUserActions } = useUserActionsCreateUser()
    const createUserAction = computed(() => unref(createUserActions)[0])

    const { actions: deleteActions } = useUserActionsDelete()
    const { actions: removeFromGroupsActions } = useUserActionsRemoveFromGroups({
      groups: writableGroups
    })
    const { actions: addToGroupsActions } = useUserActionsAddToGroups({
      groups: writableGroups
    })
    const { actions: editLoginActions } = useUserActionsEditLogin()
    const { actions: editQuotaActions } = useUserActionsEditQuota()

    const users = ref([])
    const groups = ref([])
    const roles = ref([])
    const selectedUsers = ref<User[]>([])
    const additionalUserDataLoadedForUserIds = ref([])
    const applicationId = ref()
    const selectedUserIds = computed(() =>
      unref(selectedUsers).map((selectedUser) => selectedUser.id)
    )
    const isFilteringMandatory = ref(configurationManager.options.userListRequiresFilter)
    const sideBarLoading = ref(false)
    const template = ref()
    const displayNameQuery = useRouteQuery('q_displayName')
    const filterTermDisplayName = ref(queryItemAsString(unref(displayNameQuery)))
    const markInstance = ref(null)

    let loadResourcesEventToken: string
    let editQuotaActionEventToken: string
    let addUserEventToken: string
    let updateUsersEventToken: string

    const loadGroupsTask = useTask(function* (signal) {
      const groupsResponse = yield clientService.graphAuthenticated.groups.listGroups('displayName')
      groups.value = groupsResponse.data.value
    })

    const loadAppRolesTask = useTask(function* (signal) {
      const applicationsResponse =
        yield clientService.graphAuthenticated.applications.listApplications()
      roles.value = applicationsResponse.data.value[0].appRoles
      applicationId.value = applicationsResponse.data.value[0].id
    })

    const loadUsersTask = useTask(function* (signal) {
      if (unref(isFilteringMandatory) && !unref(isFilteringActive)) {
        return (users.value = [])
      }

      const filter = Object.values(filters)
        .reduce((acc, f: any) => {
          if ('value' in f) {
            if (unref(f.value)) {
              acc.push(format(f.query, unref(f.value)))
            }
            return acc
          }

          const str = unref(f.ids)
            .map((id) => format(f.query, id))
            .join(' or ')
          if (str) {
            acc.push(`(${str})`)
          }
          return acc
        }, [])
        .filter(Boolean)
        .join(' and ')

      const usersResponse = yield clientService.graphAuthenticated.users.listUsers(
        'displayName',
        filter
      )
      users.value = usersResponse.data.value || []
    })

    const loadResourcesTask = useTask(function* (signal) {
      yield loadUsersTask.perform()
      yield loadGroupsTask.perform()
      yield loadAppRolesTask.perform()
    })

    /**
     * This function reloads the user with expanded attributes,
     * this is necessary as we don't load all the data while listing the users
     * for performance reasons
     */
    const loadAdditionalUserDataTask = useTask(function* (signal, user, forceReload = false) {
      /**
       * Prevent load additional user data multiple times if not needed
       */
      if (!forceReload && unref(additionalUserDataLoadedForUserIds).includes(user.id)) {
        return
      }

      const { data } = yield clientService.graphAuthenticated.users.getUser(user.id)
      unref(additionalUserDataLoadedForUserIds).push(user.id)

      Object.assign(user, data)
    })

    const resetPagination = () => {
      return router.push({ ...unref(route), query: { ...unref(route).query, page: '1' } })
    }

    const filters = {
      groups: {
        param: useRouteQuery('q_groups'),
        query: `memberOf/any(m:m/id eq '%s')`,
        ids: ref([])
      },
      roles: {
        param: useRouteQuery('q_roles'),
        query: `appRoleAssignments/any(m:m/appRoleId eq '%s')`,
        ids: ref([])
      },
      displayName: {
        param: useRouteQuery('q_displayName'),
        query: `contains(displayName,'%s')`,
        value: ref('')
      }
    }

    const isFilteringActive = computed(() => {
      return (
        unref(filters.groups.ids)?.length ||
        unref(filters.roles.ids)?.length ||
        unref(filters.displayName.value)?.length
      )
    })
    const filterGroups = (groups) => {
      filters.groups.ids.value = groups.map((g) => g.id)
      loadUsersTask.perform()
      selectedUsers.value = []
      additionalUserDataLoadedForUserIds.value = []
      return resetPagination()
    }
    const filterRoles = (roles) => {
      filters.roles.ids.value = roles.map((r) => r.id)
      loadUsersTask.perform()
      selectedUsers.value = []
      additionalUserDataLoadedForUserIds.value = []
      return resetPagination()
    }
    const filterDisplayName = async () => {
      await router.push({
        ...unref(route),
        query: {
          ...omit(unref(route).query, 'q_displayName'),
          ...(unref(filterTermDisplayName) && { q_displayName: unref(filterTermDisplayName) })
        }
      })
      filters.displayName.value.value = unref(filterTermDisplayName)
      loadUsersTask.perform()
      selectedUsers.value = []
      additionalUserDataLoadedForUserIds.value = []
      return resetPagination()
    }

    watch(selectedUserIds, async () => {
      sideBarLoading.value = true
      await Promise.all(
        unref(selectedUsers).map((user) => loadAdditionalUserDataTask.perform(user))
      )
      sideBarLoading.value = false
    })

    const batchActions = computed(() => {
      return [
        ...unref(deleteActions),
        ...unref(editQuotaActions),
        ...unref(addToGroupsActions),
        ...unref(removeFromGroupsActions),
        ...unref(editLoginActions)
      ].filter((item) => item.isEnabled({ resources: unref(selectedUsers) }))
    })

    const updateSpaceQuota = ({ spaceId, quota }) => {
      const userIndex = unref(users).findIndex((u) => u.drive?.id === spaceId)
      if (userIndex >= 0) {
        unref(users)[userIndex].drive.quota = quota
      }

      const selectedIndex = unref(selectedUsers).findIndex((u) => u.drive?.id === spaceId)
      if (selectedIndex >= 0) {
        unref(selectedUsers)[selectedIndex].drive.quota = quota
      }
    }

    onMounted(async () => {
      for (const f in filters) {
        if (unref(filters[f]).hasOwnProperty('ids')) {
          filters[f].ids.value = queryItemAsString(unref(filters[f].param))?.split('+') || []
        }
        if (unref(filters[f]).hasOwnProperty('value')) {
          filters[f].value.value = queryItemAsString(unref(filters[f].param))
        }
      }

      await loadResourcesTask.perform()
      loadResourcesEventToken = eventBus.subscribe('app.admin-settings.list.load', async () => {
        await loadResourcesTask.perform()
        selectedUsers.value = []

        const pageCount = Math.ceil(unref(users).length / unref(itemsPerPage))
        if (unref(currentPage) > 1 && unref(currentPage) > pageCount) {
          // reset pagination to avoid empty lists (happens when deleting all items on the last page)
          currentPageQuery.value = pageCount.toString()
        }
      })

      watch(
        [users, displayNameQuery],
        async () => {
          await nextTick()
          markInstance.value = new Mark('.mark-element')
          unref(markInstance)?.unmark()
          unref(markInstance)?.mark(queryItemAsString(unref(displayNameQuery)) || '', {
            element: 'span',
            className: 'mark-highlight'
          })
        },
        {
          immediate: true
        }
      )

      addUserEventToken = eventBus.subscribe('app.admin-settings.users.add', (user) => {
        users.value.push(user)
      })
      updateUsersEventToken = eventBus.subscribe(
        'app.admin-settings.users.update',
        updateLocalUsers
      )

      editQuotaActionEventToken = eventBus.subscribe(
        'app.admin-settings.users.user.quota.updated',
        updateSpaceQuota
      )
    })

    onBeforeUnmount(() => {
      eventBus.unsubscribe('app.admin-settings.list.load', loadResourcesEventToken)
      eventBus.unsubscribe('app.admin-settings.users.add', addUserEventToken)
      eventBus.unsubscribe('app.admin-settings.users.update', updateUsersEventToken)

      eventBus.unsubscribe('app.admin-settings.users.user.quota.updated', editQuotaActionEventToken)
    })

    const updateLocalUsers = (usersToUpdate: User[]) => {
      for (const _user of usersToUpdate) {
        const userIndex = unref(users).findIndex((user) => user.id === _user.id)
        unref(users)[userIndex] = _user
        const selectedUserIndex = unref(selectedUsers).findIndex((user) => user.id === _user.id)
        if (selectedUserIndex >= 0) {
          selectedUsers.value = [...unref(selectedUsers).filter(({ id }) => id !== _user.id), _user]
        }
      }
    }

    const onEditUser = async ({ user, editUser }) => {
      try {
        const client = clientService.graphAuthenticated
        const graphEditUserPayloadExtractor = (user) => {
          return omit(user, ['drive', 'appRoleAssignments', 'memberOf'])
        }
        const graphEditUserPayload = diff(
          graphEditUserPayloadExtractor(user),
          graphEditUserPayloadExtractor(editUser)
        )

        if (!isEmpty(graphEditUserPayload)) {
          await client.users.editUser(editUser.id, graphEditUserPayload)
        }

        if (!isEqual(user.drive?.quota?.total, editUser.drive?.quota?.total)) {
          await onUpdateUserDrive(editUser)
        }

        if (!isEqual(user.memberOf, editUser.memberOf)) {
          await onUpdateUserGroupAssignments(user, editUser)
        }

        if (
          !isEqual(user.appRoleAssignments[0]?.appRoleId, editUser.appRoleAssignments[0]?.appRoleId)
        ) {
          await onUpdateUserAppRoleAssignments(user, editUser)
        }

        const { data: updatedUser } = await client.users.getUser(user.id)
        const userIndex = unref(users).findIndex((user) => user.id === updatedUser.id)
        users.value[userIndex] = updatedUser
        const selectedUserIndex = unref(selectedUsers).findIndex(
          (user) => user.id === updatedUser.id
        )
        if (selectedUserIndex >= 0) {
          // FIXME: why do we need to update selectedUsers?
          selectedUsers.value[selectedUserIndex] = updatedUser
        }

        eventBus.publish('sidebar.entity.saved')

        return updatedUser
      } catch (error) {
        console.error(error)
        showErrorMessage({
          title: $gettext('Failed to edit user'),
          errors: [error]
        })
      }
    }

    const onUpdateUserDrive = async (editUser: User) => {
      const client = clientService.graphAuthenticated
      const updateDriveResponse = await client.drives.updateDrive(
        editUser.drive.id,
        { quota: { total: editUser.drive.quota.total } } as Drive,
        {}
      )

      if (editUser.id === userStore.user.id) {
        // Load current user quota
        spacesStore.updateSpaceField({
          id: editUser.drive.id,
          field: 'spaceQuota',
          value: updateDriveResponse.data.quota
        })
      }
    }
    const onUpdateUserAppRoleAssignments = (user: User, editUser: User) => {
      const client = clientService.graphAuthenticated
      return client.users.createUserAppRoleAssignment(user.id, {
        appRoleId: editUser.appRoleAssignments[0].appRoleId,
        resourceId: unref(applicationId),
        principalId: editUser.id
      })
    }
    const onUpdateUserGroupAssignments = (user: User, editUser: User) => {
      const client = clientService.graphAuthenticated
      const groupsToAdd = editUser.memberOf.filter(
        (editUserGroup) => !user.memberOf.some((g) => g.id === editUserGroup.id)
      )
      const groupsToDelete = user.memberOf.filter(
        (editUserGroup) => !editUser.memberOf.some((g) => g.id === editUserGroup.id)
      )
      const requests = []

      for (const groupToAdd of groupsToAdd) {
        requests.push(
          client.groups.addMember(groupToAdd.id, user.id, configurationManager.serverUrl)
        )
      }
      for (const groupToDelete of groupsToDelete) {
        requests.push(client.groups.deleteMember(groupToDelete.id, user.id))
      }

      return Promise.all(requests)
    }

    const sideBarPanelContext = computed<SideBarPanelContext<unknown, unknown, User>>(() => {
      return {
        parent: null,
        items: unref(selectedUsers)
      }
    })
    const sideBarAvailablePanels = [
      {
        name: 'DetailsPanel',
        icon: 'user',
        title: () => $gettext('User details'),
        component: DetailsPanel,
        componentAttrs: ({ items }) => ({
          user: items.length === 1 ? items[0] : null,
          users: items,
          roles: unref(roles)
        }),
        isRoot: () => true,
        isVisible: () => true
      },
      {
        name: 'EditPanel',
        icon: 'pencil',
        title: () => $gettext('Edit user'),
        component: EditPanel,
        isVisible: ({ items }) => items.length === 1,
        componentAttrs: ({ items }) => ({
          user: items.length === 1 ? items[0] : null,
          roles: unref(roles),
          groups: unref(groups),
          onConfirm: onEditUser
        })
      }
    ] satisfies SideBarPanel<unknown, unknown, User>[]

    return {
      ...useSideBar(),
      maxQuota: capabilityRefs.spacesMaxQuota,
      template,
      selectedUsers,
      sideBarLoading,
      users,
      roles,
      groups,
      applicationId,
      loadResourcesTask,
      loadAdditionalUserDataTask,
      clientService,
      batchActions,
      filterGroups,
      filterRoles,
      filterDisplayName,
      filterTermDisplayName,
      writableGroups,
      isFilteringActive,
      isFilteringMandatory,
      sideBarPanelContext,
      sideBarAvailablePanels,
      onEditUser,
      createUserAction
    }
  },
  computed: {
    breadcrumbs() {
      return [
        { text: this.$gettext('Administration Settings'), to: { path: '/admin-settings' } },
        {
          text: this.$gettext('Users'),
          onClick: () => eventBus.publish('app.admin-settings.list.load')
        }
      ]
    }
  },
  methods: {
    selectUsers(users) {
      this.selectedUsers.splice(0, this.selectedUsers.length, ...users)
    },
    toggleSelectUser(toggledUser, deselect = false) {
      if (deselect) {
        this.selectedUsers.splice(0, this.selectedUsers.length)
      }
      const isUserSelected = this.selectedUsers.find((user) => user.id === toggledUser.id)

      if (!isUserSelected) {
        return this.selectedUsers.push(this.users.find((u) => u.id === toggledUser.id))
      }

      const index = this.selectedUsers.findIndex((user) => user.id === toggledUser.id)
      this.selectedUsers.splice(index, 1)
    },
    unselectAllUsers() {
      this.selectedUsers.splice(0, this.selectedUsers.length)
    }
  }
})
</script>
<style lang="scss" scoped>
#users-filter {
  width: 16rem;

  &-confirm {
    margin-top: calc(0.2rem + var(--oc-font-size-default));
  }
}
</style>
